<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <style>
        h1 {
            text-align: center;
            font-size: 60px;
        }

        .image {
            margin: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* .info {
            display: flex;
        } */
        .CreationDate {
            margin: 40px;
        }

        .FirstAlbum {
            margin: 40px;

        }
    </style>
</head>

<body>
    <div>

        {{range .}}
        <div class="image">
            <img class="pic" src="{{.Image}}" alt="{{.Name}}">
        </div>
        <div class="info">
            <div class="CreationDate">
                <p>{{.CreationDate}}</p>
            </div>
            <div class="FirstAlbum">
                <p>{{.FirstAlbum}}</p>
            </div>
            <h2>Locations</h2>
            {{range .Locations}}
            <div class="Locations">
                <li>
                    <ul> {{.}}</ul>
                </li>
                <br>
            </div>
            {{end}}
            <h3>ConcertDates</h3>
            {{range .ConcertDates}}
            <div class="Dates">
                <li>
                    <ul> {{.}}</ul>
                </li>
                <br>
            </div>

            {{end}}
            <h4>Relations</h4>
            {{range $key, $valeu := .Relations}}
            <div class="Dates">
                <span>{{$key}}</span>
                {{range $valeu}}
                <li>
                    <ul>{{.}}</ul>
                </li>
                <br>
            </div>
            {{end}}
            {{end}}

            {{end}}
        </div>
        <a href="/"><input type="button" value="Back" /></a>
    </div>

</body>

</html>